@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap%27");
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.aboutmain .fifth .bloc3 .carimg, .aboutmain .fifth .fiftha, .aboutmain .fifth .fifthh, .aboutmain .fourth div, .aboutmain .fourth h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutmain .premiere {
  background-image: url(/images/gallery/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 50vh;
}
.aboutmain .premiere h1 {
  padding-top: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
}
.aboutmain .premiere h1 span {
  color: red;
}
.aboutmain .premiere div {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
}
.aboutmain .premiere div a {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: "Hind", sans-serif;
}
.aboutmain .premiere div p {
  font-size: 16px;
  font-family: "Hind", sans-serif;
}
.aboutmain .premiere div div {
  padding: 0;
  margin: 0 10px;
  width: 20px;
  height: 1px;
  background-color: #717171;
}
.aboutmain .second {
  background-color: #1B1B1B;
  padding-top: 6%;
}
.aboutmain .second .vide {
  width: 25px;
  height: 3px;
  background-color: #717171;
}
.aboutmain .second h2 {
  padding-top: 2%;
  padding-bottom: 7.5%;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.aboutmain .second div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutmain .second div ul {
  list-style: none;
  width: 25%;
  margin: 0 3% 0 3%;
}
.aboutmain .second div ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  color: #717171;
  padding-bottom: 10%;
}
.aboutmain .second div ul li h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.aboutmain .second div ul .icon {
  font-size: 50px;
}
.aboutmain .second div ul .icon i {
  border: solid 1px #717171;
  border-radius: 50%;
  padding: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 2;
  background-color: #1B1B1B;
}
.aboutmain .second div ul span {
  width: 220px;
  height: 1px;
  background-color: #717171;
  transform: rotate(-45deg);
  position: relative;
  top: 100px;
  z-index: 1;
  margin-right: 10px;
}
.aboutmain .second .video {
  width: 90%;
  height: 90vh;
  padding: 10% 5% 10% 5%;
}
.aboutmain .second .video iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.aboutmain .third {
  background-color: #1B1B1B;
}
.aboutmain .third h2 {
  padding-top: 2%;
  padding-bottom: 7.5%;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.aboutmain .third .vide {
  width: 25px;
  height: 3px;
  background-color: #717171;
}
.aboutmain .third ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.aboutmain .third ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0 20px 0 20px;
}
.aboutmain .third ul li img {
  width: 100%;
}
.aboutmain .third div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutmain .fourth {
  background-color: #222222;
  padding-top: 6%;
}
.aboutmain .fourth h2 {
  color: white;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.aboutmain .fourth div {
  padding: 4% 0 10% 0;
}
.aboutmain .fourth div ul {
  width: 20%;
  padding: 0 2.5% 0 2.5%;
}
.aboutmain .fourth div ul li h3 {
  padding-left: 5%;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.aboutmain .fourth div ul li img {
  width: 100%;
  height: 100%;
}
.aboutmain .fourth div ul li p {
  padding-left: 5%;
  color: #717171;
  font-size: 16px;
  font-family: "Hind", sans-serif;
}
.aboutmain .fourth div ul .member {
  padding-bottom: 20px;
}
.aboutmain .fifth {
  background-color: #1B1B1B;
}
.aboutmain .fifth .fifthh {
  width: 100%;
  padding-top: 7.5%;
}
.aboutmain .fifth .fifthh h2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
}
.aboutmain .fifth .fiftha {
  padding-top: 2%;
  padding-bottom: 5%;
}
.aboutmain .fifth .fiftha a {
  color: red;
}
.aboutmain .fifth .carouspan {
  width: 2px;
  height: 100px;
  background-color: #717171;
  display: block;
  position: relative;
  transform: rotate(45deg);
  top: -140px;
  right: -49%;
}
.aboutmain .fifth .bloc3 {
  display: flex;
  padding: 0 20% 0 20%;
}
.aboutmain .fifth .bloc3 p {
  color: #717171;
  font-family: "Hind", sans-serif;
  text-align: center;
}
.aboutmain .fifth .bloc3 .name {
  font-weight: bolder;
}
.aboutmain .fifth .bloc3 .carousel {
  position: relative;
  overflow: hidden;
  padding-bottom: 20%;
}
.aboutmain .fifth .bloc3 .carousel .carousel-next {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/images/fleche/icons8-flèche-60\(2\).png) center no-repeat;
  background-size: 20px;
  border-radius: 50%;
  top: 75%;
  margin-top: -20px;
  right: 40%;
  cursor: pointer;
  transition: transform 0.3s;
}
.aboutmain .fifth .bloc3 .carousel .carousel-next:hover, .aboutmain .fifth .bloc3 .carousel .carousel-prev:hover {
  transform: scale(1.2);
}
.aboutmain .fifth .bloc3 .carousel .carousel-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(/images/fleche/icons8-flèche-60\(1\).png) center no-repeat;
  background-size: 20px;
  border-radius: 50%;
  top: 75%;
  right: 57%;
  margin-top: -20px;
  cursor: pointer;
  transition: transform 0.3s;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
  display: flex;
  gap: 10px;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container .caroussel-item {
  float: left;
  padding: 0 2.5%;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container .caroussel-item .item {
  position: relative;
  padding: 0 2.5%;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container::after {
  content: "";
  clear: both;
  display: table;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container::after .caroussel-item {
  float: left;
}
.aboutmain .fifth .bloc3 .carousel .carousel-container::after .caroussel-item .item {
  position: relative;
}

@media screen and (max-width: 412px) {
  .aboutmain .premiere {
    height: 20vh;
  }
  .aboutmain .premiere h1 {
    font-size: 32px;
  }
  .aboutmain .premiere div p {
    font-size: 14px;
  }
  .aboutmain .premiere div a {
    font-size: 14px;
  }
  .aboutmain .second .uldiv {
    display: block;
  }
  .aboutmain .second .uldiv ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .aboutmain .second .uldiv ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .aboutmain .second .video {
    height: 25vh;
  }
  .aboutmain .third div {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .aboutmain .third div ul {
    display: block;
    align-content: center;
  }
  .aboutmain .third div ul li {
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  .aboutmain .fourth div {
    display: block;
  }
  .aboutmain .fourth div ul {
    width: 80%;
    padding: 0;
    padding-left: 10%;
  }
  .aboutmain .fourth div ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutmain .fourth div ul li p {
    padding-bottom: 15%;
    padding-left: 0;
  }
  .aboutmain .fourth div ul li h3 {
    padding-left: 0;
  }
}
* {
  padding: 0;
  margin: 0;
}

footer {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.8) 100%), url(/images/gallery/room-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
footer ol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ol ul {
  list-style: none;
  margin: 2.5%;
  height: 300px;
  color: aliceblue;
}
footer ol ul li {
  padding: 10px;
  color: #717171;
  font-size: 13px;
  font-family: "Hind", sans-serif;
}
footer ol ul li h3 {
  color: white;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
footer ol ul li .closed {
  width: 85px;
  text-align: left;
}
footer ol ul .social {
  line-height: 200%;
  width: 120px;
}
footer ol ul .workinghours {
  display: flex;
  justify-content: space-between;
}
footer ol ul div {
  justify-content: left;
  margin-left: -7.5%;
}
footer ol ul div p {
  padding-right: 2.5%;
  color: #717171;
}
footer ol ul div span {
  margin: 0;
  background-color: red;
  width: 25px;
  height: 2px;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
footer .footer-logo {
  padding-top: 5%;
}
footer p {
  color: white;
  font-size: 11px;
}

@media screen and (max-width: 412px) {
  footer ol {
    display: block;
  }
  footer ol .socialul {
    margin-top: 90px;
    height: 200px;
  }
  footer ol .linksul {
    margin-top: -65px;
    margin-bottom: 30px;
  }
  footer ol .hoursul {
    width: 250px;
  }
  footer ol ul .social {
    width: 200px;
  }
  footer ol ul div {
    justify-content: left;
    margin-left: -1%;
  }
  footer ol ul div p {
    padding-right: 2.5%;
  }
  footer ol ul div span {
    margin: 0;
    background-color: red;
    width: 25px;
    height: 2px;
  }
}
* {
  margin: 0;
  padding: 0;
}

#rooms_header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/gallery/slide-1.jpg");
  background-position: 50% 21%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#rooms_header h1 {
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
}
#rooms_header h1 span {
  color: #F60B0E;
}
#rooms_header p {
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#rooms_header p .grey {
  color: #3C3F3E;
}
#rooms_header p .headerSize {
  font-size: 44px;
  top: -4px;
  position: relative;
  margin: 5px;
}

#rooms_body {
  background-color: #222222;
  font-family: "Hind", sans-serif;
}
#rooms_body #rooms_Tris {
  display: flex;
  justify-content: center;
}
#rooms_body #rooms_Tris input[type=checkbox] {
  display: none;
}
#rooms_body #rooms_Tris #all-box + label div,
#rooms_body #rooms_Tris #easy-box + label div,
#rooms_body #rooms_Tris #normal-box + label div,
#rooms_body #rooms_Tris #hard-box + label div {
  color: #fefefe;
  border: 2px #3C3F3E solid;
  padding: 10px 35px 10px 35px;
  border-radius: 50px;
  margin: 150px 10px 15px 10px;
  transition: background-color 0.5s, border 0.5s;
}
#rooms_body #rooms_Tris #all-box + label div:hover,
#rooms_body #rooms_Tris #easy-box + label div:hover,
#rooms_body #rooms_Tris #normal-box + label div:hover,
#rooms_body #rooms_Tris #hard-box + label div:hover {
  background-color: #3C3F3E;
  cursor: pointer;
}
#rooms_body #rooms_Tris #all-box:checked + label div,
#rooms_body #rooms_Tris #easy-box:checked + label div,
#rooms_body #rooms_Tris #normal-box:checked + label div,
#rooms_body #rooms_Tris #hard-box:checked + label div {
  background-color: blue;
  border: 2px red solid;
}
#rooms_body #rooms_Tris #all-box:checked + label div:hover,
#rooms_body #rooms_Tris #easy-box:checked + label div:hover,
#rooms_body #rooms_Tris #normal-box:checked + label div:hover,
#rooms_body #rooms_Tris #hard-box:checked + label div:hover {
  background-color: red;
}
#rooms_body #rooms_rooms {
  margin-top: 60px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  color: #fefefe;
  justify-content: center;
}
#rooms_body #rooms_rooms .room_card {
  align-self: center;
  justify-self: center;
  height: 375px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  box-shadow: 0 0 1em black;
}
#rooms_body #rooms_rooms .room_card:hover {
  background-size: 250% !important;
}
#rooms_body #rooms_rooms .room_card .room_card_difficulty {
  margin-top: 70%;
  margin-bottom: 15px;
}
#rooms_body #rooms_rooms .room_card .room_card_difficulty i {
  color: #3C3F3E;
  margin: 2.5px;
  text-shadow: #1B1B1B 1px 1px;
}
#rooms_body #rooms_rooms .room_card .room_card_name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
#rooms_body #rooms_rooms .room_card .room_card_infos {
  display: flex;
}
#rooms_body #rooms_rooms .room_card .room_card_infos div {
  display: flex;
}
#rooms_body #rooms_rooms .room_card .room_card_infos div i {
  margin-right: 11px;
  position: relative;
  top: 4px;
}
#rooms_body #rooms_rooms .room_card .room_card_infos div p {
  margin-right: 15px;
  color: #3C3F3E;
  font-weight: bold;
}
#rooms_body #rooms_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
  color: #fefefe;
}
#rooms_body #rooms_nav a {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px #3C3F3E solid;
  border-radius: 100%;
  padding: 10px;
  margin-left: 15px;
  transition: background-color 0.5s;
}
#rooms_body #rooms_nav a:hover {
  cursor: pointer;
  background-color: #F60B0E;
}
#rooms_body #rooms_nav p {
  margin-left: 15px;
}

@media only screen and (max-width: 1290px) {
  #rooms_rooms {
    grid-template-columns: 210px 210px 210px !important;
    grid-column-gap: 8% !important;
  }
}
@media only screen and (max-width: 768px) {
  #rooms_rooms {
    grid-template-columns: 125px 125px 125px 125px !important;
    grid-column-gap: 7% !important;
  }
  #rooms_rooms .room_card {
    min-width: 125px !important;
    width: 125px !important;
    height: 225px !important;
    padding-left: 10px;
    justify-content: space-around !important;
  }
  #rooms_rooms .room_card .room_card_difficulty {
    margin-top: 20% !important;
  }
  #rooms_rooms .room_card .room_card_difficulty i {
    font-size: 10px;
  }
  #rooms_rooms .room_card .room_card_name {
    font-size: 18px !important;
  }
  #rooms_rooms .room_card .room_card_infos {
    flex-direction: column;
    font-size: 10px !important;
  }
  #rooms_rooms .room_card .room_card_infos div i {
    margin-right: 5px;
    position: relative;
    top: 4px;
  }
  #rooms_rooms .room_card .room_card_infos div p {
    margin-right: 15px;
    color: #3C3F3E;
    font-weight: bold;
  }
}
@media only screen and (max-width: 640px) {
  #rooms_header {
    background-position: top !important;
    background-size: 150%;
    height: 140px;
  }
  #rooms_header h1 {
    font-size: 45px;
  }
  #rooms_body #rooms_Tris {
    flex-direction: column;
    align-items: center;
  }
  #rooms_body #rooms_Tris a {
    text-align: center;
    width: 50%;
    margin: 40px 0 0 0;
  }
  #rooms_rooms {
    display: flex !important;
    flex-direction: column !important;
  }
  #rooms_rooms .room_card {
    min-width: 90% !important;
    height: 550px !important;
    padding: 0 !important;
    margin-bottom: 35px;
    justify-content: end !important;
  }
  #rooms_rooms .room_card .room_card_difficulty {
    margin-bottom: 25px;
    margin-left: 25px;
  }
  #rooms_rooms .room_card .room_card_difficulty i {
    font-size: 16px !important;
  }
  #rooms_rooms .room_card .room_card_name {
    margin-bottom: 25px;
    margin-left: 25px;
  }
  #rooms_rooms .room_card .room_card_infos {
    flex-direction: row;
    margin-bottom: 25px;
    margin-left: 25px;
  }
}
#top_nav {
  position: absolute;
  width: 100%;
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(27, 27, 27, 0.568627451);
  z-index: 2;
}
#top_nav #leftTopBar {
  display: flex;
  height: 100%;
  align-items: center;
}
#top_nav #leftTopBar img {
  height: 100%;
  margin-right: 50px;
}
#top_nav #leftTopBar #nav_links {
  display: flex;
  gap: 30px;
}
#top_nav #leftTopBar #nav_links li a {
  text-decoration: none;
  font-size: 18px;
  color: #777;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
#top_nav #leftTopBar #nav_links .containerLigneRed {
  position: relative;
}
#top_nav #leftTopBar #nav_links .containerLigneRed .word_on_red_ligne {
  z-index: 2;
  color: #fefefe;
  font-weight: 800;
}
#top_nav #leftTopBar #nav_links .containerLigneRed .ligne_red {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 45%;
  translate: -50%;
  rotate: -45deg;
  height: 3px;
  width: 55px;
  background-color: #F60B0E;
  z-index: -1;
}
#top_nav #btn_nav {
  color: #fefefe;
  margin-right: 200px;
  text-decoration: none;
  padding: 13px 34px;
  border: solid 2.5px #717171;
  border-radius: 30px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-family: "Montserrat", sans-serif;
}
#top_nav #burger {
  width: 25px;
  height: 25px;
  z-index: 100;
  display: none;
  position: absolute;
  right: 20px;
  top: 30px;
}
#top_nav #burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1320px) {
  #top_nav #burger {
    display: block;
  }
  #top_nav #burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
    width: 110%;
  }
  #top_nav #burger.active span:nth-child(2) {
    opacity: 0;
  }
  #top_nav #burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
    width: 110%;
  }
  #top_nav #nav_links {
    z-index: 99;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -200%;
    padding-top: 30px;
    width: 60%;
    min-width: 250px;
    height: 100vh;
    align-items: start;
    justify-content: start;
    background-color: #222222;
    font-size: 16px;
    gap: 0;
  }
  #top_nav #nav_links li {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  #top_nav #nav_links li a {
    color: #fefefe !important;
  }
  #top_nav #nav_links li .plus span {
    height: 2px;
    width: 15px;
    display: block;
    background-color: #717171;
    margin-right: 50px;
  }
  #top_nav #nav_links li span:nth-child(1) {
    rotate: 90deg;
    transform: translateX(2px);
  }
  #top_nav #nav_links .ligne_red {
    display: none;
  }
  #top_nav #nav_links .grey_ligne {
    height: 1px;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #717171;
    opacity: 0.5;
  }
  #top_nav #nav_links.active {
    left: 0;
    position: fixed;
  }
}
@media only screen and (max-width: 440px) {
  #btn_nav {
    display: none;
  }
}
.header_blogs {
  height: 520px;
  background-image: url(/images/gallery/slide-1.jpg);
  background-position-y: 18%;
  background-size: cover;
}
.header_blogs .container_header {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76));
}

/*# sourceMappingURL=style.css.map */
