@import 'sass/variables.scss';
@import 'sass/about.scss';
@import 'sass/footer.scss';
@import "sass/rooms.scss";
@import 'sass/topNav.scss';
@import 'sass/blogs.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

